img {
	border:none;
}

.header {
	height:318px;
	background-color : #99ff00;
	margin: 0px;
	text-indent: 0px;
	width: 777px;
	position: static;
}

.margin {
	background-color: #99ff00;
	width: 777px;
	text-align: left;
	margin: 0px;
	height: auto;
	position: static;
	clear : both ;
}

.main-contents {
	background-color: #ffffff;
	width: 559px;
	float: left;
	margin-left: 17px;
	font-style: normal;
	line-height: normal;
	height: auto;
	overflow: hidden;
	position: static;
	text-align: left;
	color: #000;
}

.side {
	width : 160px;
	background-color : #ffffff;
	float : right;
	margin-right: 17px;
	height: auto;
	position: static;
	padding:10px;
}


.side p {
	text-align : center;
}

.c-both {
	clear : both ;
}

.body-style {
	position: static;
	width:800px;
	margin:0px auto;
	padding:0px;
	text-align:left;
	background-image:url("../images/texture.jpg");
}

.footer {
	background-color: #99ff00;
	text-align : left;
	margin: 0px;
	text-indent: 0px;
	width: 777px;
	position: static;
	left: 0px;
}

.right-align {
	float: right;
	text-align : right;
	padding-top:8px;
	padding-bottom:5px;
	padding-right:5px;
}

.copyright {
	background-color: #99ff00;
	text-align : left;
	margin: 0px;
	text-indent: 0px;
	width: 777px;
	position: static;
	left: 0px;
}

.contents {
	background-color: #ffffff;
	width: 544px;
	float: left;
	font-style: normal;
	line-height: normal;
	height: auto;
	overflow: hidden;
	position: static;
	text-align: left;
	color: #000;
}

.main-contents-space {
	margin-left:20px;
	padding-top:10px;
	height: auto;
	color: #000;
	font-weight: bold;

}

.main-contents-space p {
	line-height:1px;
}
.main-contents-space h2 {
	font-size: medium;
	color: #900;
}
.faq-question {
	list-style: square url('../images/question.jpg') outside;
}

.faq-answer {
	list-style: square url('../images/answer.jpg') outside;
}
.bottom-align {
	vertical-align: middle;
}
.w3c-logo {
	position:relative;
	top:-135px;
	left:670px;
}
.w3c-logo p {
	line-height:0px;
}