ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
ErrorDocument 500 /404.html
DirectoryIndex index.html index.htm index.shtml index.php index.cgi
Options -Indexes
AuthUserFile /home/schwarzekatze/www/8million/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
