@charset "utf-8";
#title {
	margin: 0px;
	padding: 0px 0px 0px 1em;
	background-color: #407aa0;
	font-size: 14px;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	background-image: url("../../imgs/menubg.png");
	background-repeat: repeat-x;
	color:#eeeeee;
}
#title a {
	text-decoration: none;
	color:#eeeeee;
}
#title a:hover {
	text-decoration: none;
	color:#ffffff;
}
#title_left {
	width: 450px;
	float: left;
}
#title_right {
	width: 150px;
	float: right;
	text-align: right;
	font-size: 90%;
	padding-right: 1em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Monotype Corsiva", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", arial, helvetica, sans-serif;
}
