<TMPL_INCLUDE NAME="header.tmpl">

    <h4><TMPL_VAR NAME="ENTRY_ROW_NO"><TMPL_VAR NAME="ENTRY_TITLE">(<TMPL_VAR NAME="ENTRY_CREATED_ON">)‚Ö‚ÌºÒİÄ<TMPL_IF NAME="ADMIN_MODE">(V‚µ‚¢‡)</TMPL_IF></h4>

    <TMPL_IF NAME="PAGE_NAVI">
        < Íß°¼ŞˆÚ“®:<TMPL_LOOP NAME="PAGE_NAVI"> <TMPL_IF NAME="PAGE_NAVI_URL"><a href="<TMPL_VAR NAME="PAGE_NAVI_URL">"></TMPL_IF><TMPL_VAR NAME="PAGE_NAVI_NO"><TMPL_IF NAME="PAGE_NAVI_URL"></a></TMPL_IF></TMPL_LOOP> >
    </TMPL_IF>

    <TMPL_LOOP NAME="COMMENTS">
    <hr>
    <p>by <TMPL_VAR NAME="COMMENT_AUTHOR">(<TMPL_VAR NAME="COMMENT_CREATED_ON">)</p>
    <p><TMPL_VAR NAME="COMMENT_TEXT"></p>
    <TMPL_VAR NAME="COMMENT_DEL_BTN">
    </TMPL_LOOP>

    <TMPL_IF NAME="PAGE_NAVI">
    <hr>
        < Íß°¼ŞˆÚ“®:<TMPL_LOOP NAME="PAGE_NAVI"> <TMPL_IF NAME="PAGE_NAVI_URL"><a href="<TMPL_VAR NAME="PAGE_NAVI_URL">"></TMPL_IF><TMPL_VAR NAME="PAGE_NAVI_NO"><TMPL_IF NAME="PAGE_NAVI_URL"></a></TMPL_IF></TMPL_LOOP> >
    </TMPL_IF>

    <TMPL_IF NAME="ALLOW_COMMENT">
    <hr>
    <TMPL_VAR NAME="ICON_NO_8"><a href="<TMPL_VAR NAME="COMMENT_ENTRY_URL">"<TMPL_VAR NAME="ACCESS_KEY_8">>ºÒİÄ“Še</a>
    </TMPL_IF>
    <TMPL_IF NAME="REFERER">
    <hr>
    <TMPL_VAR NAME="ICON_NO_7"><a href="<TMPL_VAR NAME="REFERER_URL">"<TMPL_VAR NAME="ACCESS_KEY_7">>Œ³‹L–‚ğ“Ç‚Ş</a>
    </TMPL_IF>
    <hr>
    <TMPL_VAR NAME="ICON_NO_0"><a href="<TMPL_VAR NAME="BACK_URL">"<TMPL_VAR NAME="ACCESS_KEY_0">><TMPL_VAR NAME="BACK_TEXT"></a>
    <TMPL_IF NAME="ADMIN_MODE">
    <TMPL_VAR NAME="COMMENT_MGR_BUTTON">
    </TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
