    <p>
        <center>
            Powered by<br>
            <TMPL_UNLESS NAME="ADMIN_MODE"><a href="http://hazama.nu/pukiwiki/?MT4i"></TMPL_UNLESS>MT4i <TMPL_VAR NAME="VERSION"><TMPL_UNLESS NAME="ADMIN_MODE"></a></TMPL_UNLESS>
        </center>
    </p>
</body>
</html>

