<!DOCTYPE HTML PUBLIC "-//W3C//DTD Compact HTML 1.0 Draft//EN">
<html>
<head>
    <meta name="CHTML" HTTP-EQUIV="content-type" CONTENT="text/html; charset=Shift_JIS">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="max-age=0">
    <TMPL_UNLESS  NAME="MODE_INDEX"><meta name="robots" content="nofollow"></TMPL_UNLESS>
    <title><TMPL_IF NAME="MODE_INDIVIDUAL"><TMPL_VAR NAME="ENTRY_TITLE"> : </TMPL_IF><TMPL_IF NAME="MODE_COMMENT"><TMPL_VAR NAME="ENTRY_TITLE">へのｺﾒﾝﾄ : </TMPL_IF><TMPL_IF NAME="MODE_COMMENT_FORM"><TMPL_VAR NAME="ENTRY_TITLE">へのｺﾒﾝﾄ投稿 : </TMPL_IF><TMPL_IF NAME="MODE_TRACKBACK">このEntryへの最近のﾄﾗｯｸﾊﾞｯｸ : </TMPL_IF><TMPL_IF NAME="MODE_REDIRECT">ﾘﾀﾞｲﾚｸﾄ<TMPL_ELSE><TMPL_IF NAME="MODE_IMAGE">画像を表示<TMPL_ELSE><TMPL_IF NAME="ERROR_MESSAGE">Error - MT4i<TMPL_ELSE><TMPL_IF NAME="BLOG_TITLE"><TMPL_VAR NAME="BLOG_TITLE"> mobile ver.<TMPL_ELSE>MT4i <TMPL_VAR NAME="VERSION"></TMPL_IF></TMPL_IF></TMPL_IF></TMPL_IF></title>
</head>
<body bgcolor="<TMPL_VAR NAME="BODY_BG_COLOR">" text="<TMPL_VAR NAME="BODY_TEXT_COLOR">" link="<TMPL_VAR NAME="BODY_LINK_COLOR">" alink="<TMPL_VAR NAME="BODY_ALINK_COLOR">" vlink="<TMPL_VAR NAME="BODY_VLINK_COLOR">">
