<TMPL_INCLUDE NAME="header.tmpl">

<p>
<img src="<TMPL_VAR NAME="IMG_SRC">">
</p>
<p>
<TMPL_VAR NAME="ICON_NO_0"><a href="<TMPL_VAR NAME="BACK_URL">"<TMPL_VAR NAME="ACCESS_KEY_0">>–ß‚é</a>
</p>

<TMPL_INCLUDE NAME="footer.tmpl">
