<TMPL_INCLUDE NAME="header.tmpl">

    <h1 align="center">
        <font color="#FF0000">
            <TMPL_VAR NAME="BLOG_LOGO">
        </font>
    </h1>
    <center>
        mobile ver.
    </center>
    <TMPL_IF NAME="ADMIN_MODE">
    <h2 align="center">
        <font color="#FF0000">
            管理者モード
        </font>
    </h2>
    </TMPL_IF>
    <hr>
    <TMPL_IF NAME="TOP">
    <TMPL_IF NAME="BLOG_DESCRIPTION">
    <center>
        <TMPL_VAR NAME="BLOG_DESCRIPTION">
    </center>
    <hr>
    </TMPL_IF>
    </TMPL_IF>
    <center>
        <TMPL_IF NAME="TOP">
        <form method="post" action="./<TMPL_VAR NAME="SCRIPT_NAME">">
            <input type="text" name="search_keyword"><input type="submit" name="search_submit" value="検索">
            <input type="hidden" name="mode" value="search">
            <input type="hidden" name="id" value="<TMPL_VAR NAME="BLOG_ID">">
        </form>
        </TMPL_IF>
        <TMPL_VAR NAME="CATEGORY_SELECTOR">
    </center>

    <hr>

    <!-- ENTRIES -->
    <TMPL_LOOP NAME="ENTRIES">
        <p>
        <TMPL_VAR NAME="ENTRY_ROW_NO"><a href="<TMPL_VAR NAME="ENTRY_LINK_URL">"<TMPL_VAR NAME="ENTRY_ACCESS_KEY">><TMPL_VAR NAME="ENTRY_LINK_TITLE"></a><br>
        <TMPL_VAR NAME="ICON_CLOCK">(<TMPL_VAR NAME="ENTRY_CREATED_ON">)<font color="#FF0000"><TMPL_VAR NAME="ENTRY_COMMENT_CNT"></font><font color="#00CC00"><TMPL_VAR NAME="ENTRY_PING_CNT"></font><br>
        </p>
    </TMPL_LOOP>
    <TMPL_UNLESS NAME="ENTRIES">
    このｶﾃｺﾞﾘに属するｴﾝﾄﾘはありません。
    </TMPL_UNLESS>
    <TMPL_IF NAME="ENTRIES">
    <center>
        <TMPL_VAR NAME="ENTRY_PAGE">
    </center>
    </TMPL_IF>

    <TMPL_IF NAME="ENTRY_INDEX_NAVI">
    <hr>
    <TMPL_IF NAME="ENTRY_INDEX_NAVI_NEXT">
        <TMPL_VAR NAME="ICON_NO_9"><a href="<TMPL_VAR NAME="ENTRY_INDEX_NAVI_NEXT_URL">"<TMPL_VAR NAME="ACCESS_KEY_9">>次の<TMPL_VAR NAME="ENTRY_INDEX_NAVI_NEXT_COUNT">件</a><br>
    </TMPL_IF>
    <TMPL_IF NAME="ENTRY_INDEX_NAVI_PREV">
        <TMPL_VAR NAME="ICON_NO_7"><a href="<TMPL_VAR NAME="ENTRY_INDEX_NAVI_PREV_URL">"<TMPL_VAR NAME="ACCESS_KEY_7">>前の<TMPL_VAR NAME="ENTRY_INDEX_NAVI_PREV_COUNT">件</a><br>
    </TMPL_IF>
    <TMPL_IF NAME="ENTRY_INDEX_NAVI_BEGIN">
        <TMPL_VAR NAME="ICON_NO_0"><a href="<TMPL_VAR NAME="ENTRY_INDEX_NAVI_BEGIN_URL">"<TMPL_VAR NAME="ACCESS_KEY_0">>最初の<TMPL_VAR NAME="ENTRY_INDEX_NAVI_BEGIN_COUNT">件</a><br>
    </TMPL_IF>
    <TMPL_IF NAME="ENTRY_INDEX_NAVI_LAST">
        <TMPL_VAR NAME="ICON_NO_8"><a href="<TMPL_VAR NAME="ENTRY_INDEX_NAVI_LAST_URL">"<TMPL_VAR NAME="ACCESS_KEY_8">>最後の<TMPL_VAR NAME="ENTRY_INDEX_NAVI_LAST_COUNT">件</a><br>
    </TMPL_IF>
    </TMPL_IF>

    <hr>

    <TMPL_IF NAME="TOP">
    <TMPL_IF NAME="LINK_RECENT_COMMENT">
    <TMPL_VAR NAME="LINK_RECENT_COMMENT">
    <hr>
    </TMPL_IF>
    </TMPL_IF>

    <TMPL_IF NAME="ADMIN_MODE">
    <TMPL_VAR NAME="ADMIN_MENU">
    <hr>
    </TMPL_IF>

    <p>
        <center>
            <TMPL_VAR NAME="ADMIN_INFO">
        </center>
    </p>

<TMPL_INCLUDE NAME="footer.tmpl">
